.ast {
    padding-left: 5px;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.form-all {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 35px;
    margin: auto;
    text-align: end;

}

.form-image {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin: auto;
    padding-right: 10px;

}


.input-name {
    width: 150px;
    text-align: end;
    padding-right: 0px;

}

.input-life-name{
    width: 160px;
    text-align: start;
}

.form-temps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 35px;
    margin: auto;
    
}

.temps-name{
    padding-right: 30px;
    text-align: end;
}

.input-image{
    display: block;
}

.falta{
   
    padding-left: 150px;
}

.volver{
    margin-left: 500px;
    
}