.nav-pag{
    padding-bottom: 20px;
    width: 100%;
    display: inline-flex;
    justify-content: center;

}

.btn-pag{
   
    height: 2em;
    margin: 2px;
    cursor: pointer;
}

.num{
    padding-bottom: 2px;
    margin:0
}

.ul{
    margin:0
}